<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Feet Together.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>93F5F24C2C8D55810031C0B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93F5F2622C8D55820031C0B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93F5F26C2C8D55820031C0B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
